@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
 }
 

@font-face {
  font-family: PTSansCaption;
  src:url("/fonts/PTSansCaption/PTSansCaption-Bold.ttf");
  font-weight: bold;
  }

  @font-face {
    font-family: PTSansCaption;
    src:url("/fonts/PTSansCaption/PTSansCaption-Regular.ttf");
    font-weight: normal;
    }
  body{
    font-family: PTSansCaption;
  }

  body::-webkit-scrollbar {
    display: none;
  }
@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .Atitle {
    @apply font-heading text-5xl lg:text-6xl font-black drop-shadow-md pt-10
  }
  .Asubtitle{@apply font-text text-lg lg:text-xl max-w-[45ch] text-center  drop-shadow-md mx-auto mt-[50px] }
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: grid;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.swiper {
  
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.animated {
  
  scale:.8 ;opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 20%;

}
@keyframes fade-in{
  
  to{scale:1; opacity: 1;}
}