---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import FeaturedProjects from "../components/FeaturedProjects.jsx";
import Clients from "../components/Clients.astro";
import WebsiteIntegration from "../components/WebsiteIntegration.astro";
import OfflineApp from "../components/OfflineApp.astro";
import Lightbox from "../components/Lightbox.jsx";
import AutoplaySlider from "../components/AutoplaySlider.astro";
import Footer from "../components/Footer.astro";
import AdminsSolid from "../components/AdminsSolid.jsx";
import VRHeader from "../components/VRHeader.jsx";
import OpeningHomeText from "../components/OpeningHomeText.astro";
import WhyChooseEyeNav from "../components/WhyChooseEyeNav.astro";
import FullService from "../components/FullService.astro";
---

<Layout title="Welcome to ">
  <Nav fullscreen={true} isHeader={true} height="[400px]" dark={true}>
    <VRHeader tourLink="/header/sub/index.html" />
    <h1 class="title absolute text-white font-bold text-5xl pt-12">Concept</h1>
  </Nav>

  <main class="grow relative">
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20">
      <div class="flex flex-col items-center leading-loose">
        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            eyeNAV stands out as a pioneer in the field, offering specialized
            360째 photography services to numerous hotels and resorts. Our focus
            has been on delivering top-notch 360째 Photography for luxury hotel
            brands across Asia.
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            Specializing in brand-standard 360째 photography that not only
            captivates but also serves as effective presentation tools for sales
            teams, eyeNAV has successfully executed numerous projects with
            prominent brands such as IHG & Marriott.
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            Recognizing the importance of meticulous planning to ensure optimal
            results without compromising the guest experience, eyeNAV is
            committed to achieving excellence in every project.
          </div>
        </div>

        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            For cluster projects within the Asia Pacific region, eyeNAV goes the
            extra mile by absorbing travel costs, demonstrating our dedication
            to delivering comprehensive solutions.
          </div>
        </div>

        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            With a broad reach covering Asia and Australia, eyeNAV 360 has also
            undertaken VIP projects in the UK, Italy, and Spain.
          </div>
        </div>

        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0">
            Founded by Tom Janzow, eyeNAV boasts over two decades of expertise
            in Resort 360째 photography. Tom and his team employ fisheye lenses
            to capture the essence of properties, prioritizing ambient light to
            infuse style and realism into their work.
          </div>
        </div>

        <div class="flex">
          <div class="flex flex-col items-center">
            <div class="bg-purple rounded-full p-4"></div>
            <div class="border-l border-purple h-full w-0"></div>
          </div>
          <div class="max-w-[60ch] p-10 pt-0 pb-20">
            Keeping up with technological advancements, eyeNAV recently enhanced
            its app, eyeNAV Hotels & Resorts, available on both Android and iOS
            devices. This update offers clients and sales teams a convenient
            offline capability for presenting their hotels effectively.
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
