---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import FeaturedProjects from "../components/FeaturedProjects.jsx";
import Clients from "../components/Clients.astro";
import WebsiteIntegration from "../components/WebsiteIntegration.astro";
import OfflineApp from "../components/OfflineApp.astro";
import Lightbox from "../components/Lightbox.jsx";
import AutoplaySlider from "../components/AutoplaySlider.astro";
import Footer from "../components/Footer.astro";
import AdminsSolid from "../components/AdminsSolid.jsx";
import VRHeader from "../components/VRHeader.jsx";
import OpeningHomeText from "../components/OpeningHomeText.astro";
import WhyChooseEyeNav from "../components/WhyChooseEyeNav.astro";
import FullService from "../components/FullService.astro";
---

<Layout title="eyeNAV 360 Multimedia - Visual Content for Convertion">
  <Nav
    fullscreen={true}
    isHeader={true}
    height="h-[70vh] md:h-screen"
    dark={true}
  >
    <VRHeader tourLink="/header/vtour/index.html" />
    <a
      href="#main"
      class="w-12 h-12 absolute bottom-5 text-white animate-bounce"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
      </svg>
    </a>
  </Nav>

  <main class="grow">
    <OpeningHomeText />
    <FeaturedProjects client:load />
    <WhyChooseEyeNav />
    <Clients />
    <FullService />
    <WebsiteIntegration />
    <OfflineApp />
  </main>
  <Footer />
  <Lightbox
    iframeURL="https://eyenavthailand.com/samujana/villa12/"
    client:load
  />
</Layout>
