---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import FeaturedProjects from "../components/FeaturedProjects.jsx";
import Clients from "../components/Clients.astro";
import WebsiteIntegration from "../components/WebsiteIntegration.astro";
import OfflineApp from "../components/OfflineApp.astro";
import Lightbox from "../components/Lightbox.jsx";
import AutoplaySlider from "../components/AutoplaySlider.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to ">
    <Nav
        fullscreen={false}
        isHeader={false}
        height="h-screen md:h-[700px]"
        dark={false}
    />

    <main class="grow bg-purple/10">
        <div class="grid grid-cols-2">
            <div class="col-span-2 row-start-1 col-start-1 z-0">
                <div
                    class="max-w-[1400px] mx-auto px-[5vw] grid md:grid-cols-2 bg-purple md:bg-gray-600/0"
                >
                    <div
                        class="flex flex-col gap-10 py-20 md:px-10 bg-gray-600/0 md:bg-purple/95"
                    >
                        {" "}
                        <h1 class="font-heading text-white text-4xl font-black">
                            {" "}
                            Precise 360° Photography
                        </h1>
                        <div class="relative z-0">
                            <p class="sm:text-xl font-text text-gray-50">
                                <em>
                                    Our 360ﾟ photography sets out to represent a
                                    space or facility in its best light with WoW
                                    factor or careful setups which make
                                    consumers feel like being there. In the same
                                    way as professional hotel still photography
                                    is done, an eyeNAV360 shoot is all in the
                                    preparation and timing.
                                </em>
                            </p>
                        </div>
                        <p class="font-text text-gray-50">
                            There is no Fuss & No extra lighting, we carefully
                            plan the shots with our clients and make sure they
                            feature their brand standard setups. We use natural
                            ambient light and avoid harsh daytime sun, executing
                            most of our shoots during at early mornings and
                            early evenings.
                        </p>
                        <p class="font-text text-gray-50">
                            Care is taken to ensure our scheduled photo shoots
                            bring minimal challenges to your operations and no
                            effect on guest experience.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="hidden md:block col-start-1 row-start-1 col-span-2 bg-cover bg-center"
                style={{
                    backgroundImage: 'url("/images/Royal_Phuket_Marina.jpg")',
                }}
            >
            </div>
        </div>
        <div>
            <div class="font-inter pt-20">
                <div
                    class="max-w-[1400px] mx-auto px-[5vw] font-inter flex flex-col md:grid md:grid-cols-2 gap-10 items-center"
                >
                    <div class="order-2 md:order-1">
                        <img src="/images/drone.jpg" alt="" />
                    </div>
                    <div class="order-1 md:order-2">
                        <h2
                            class="text-gray-800 text-4xl md:text-5xl font-extrabold mb-10 text-center md:text-left"
                        >
                            Drone 360ﾟ photography
                        </h2>
                        <p
                            class="font-text text-md text-gray-800 leading-relaxed text-center md:text-left"
                        >
                            Our drones represent a tripod mounted perfectly
                            steady at an ideal position above. <br />
                            We are passionate about our drone panorama capture and
                            are interested in detailed views from low altitudes.
                            <br />
                            Ultras detailed post-production is required for these
                            scenes to look neat and tidy, highlighting the layout
                            or location of the property. We consider ourselves lucky
                            to adopt safe and reliable drones today because our Aerial
                            360° Photography days started with Giant Kites and Helium
                            Balloons lifting heavy cameras in 2005.
                        </p>
                    </div>
                </div>
            </div>

            <div class="font-inter pt-20">
                <div
                    class="max-w-[1400px] mx-auto px-[5vw] font-inter flex flex-col md:grid md:grid-cols-2 gap-10 items-center"
                >
                    <div class="order-2 md:order-2">
                        <img src="/images/photography.jpg" alt="" />
                    </div>
                    <div class="">
                        <h2
                            class="text-gray-800 text-4xl md:text-5xl font-extrabold mb-10 text-center md:text-left"
                        >
                            Still Frame Photography
                        </h2>
                        <p
                            class="font-text text-md text-gray-800 leading-relaxed text-center md:text-left"
                        >
                            Refined Hotel Brand Photography & Photos for Sales
                            Collateral are available by our experienced travel
                            photographers as an additional service for your
                            Sales & Marketing needs.
                            <br />
                            360 Capture - Due to the high quality of our 360ﾟ panorama
                            construction we are also able to export still photos
                            from our 360s. In many cases these images are adequate
                            for the clients needs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="font-inter py-20">
                <div
                    class="max-w-[1400px] mx-auto px-[5vw] font-inter flex flex-col md:grid md:grid-cols-2 gap-10 items-center"
                >
                    <div class="order-2 md:order-1">
                        <iframe
                            class="w-full aspect-video"
                            src="https://www.youtube.com/embed/uUvgq00Q1l0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="order-1 md:order-2">
                        <h2
                            class="text-gray-800 text-4xl md:text-5xl font-extrabold mb-10 text-center md:text-left"
                        >
                            Linear Video
                        </h2>
                        <p
                            class="font-text text-md text-gray-800 leading-relaxed text-center md:text-left"
                        >
                            Where practical, we are able to capture short video
                            clips with our drones as a complimentary add-on when
                            we are capturing 360° Panoramic Views of your
                            property. This extra footage, fly-outs & fly-overs
                            can be provided as basic clips for your social media
                            channels.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <Footer />
</Layout>
