---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import FeaturedProjects from "../components/FeaturedProjects.jsx";
import Clients from "../components/Clients.astro";
import WebsiteIntegration from "../components/WebsiteIntegration.astro";
import OfflineApp from "../components/OfflineApp.astro";
import Lightbox from "../components/Lightbox.jsx";
import AutoplaySlider from "../components/AutoplaySlider.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import VRHeader from "../components/VRHeader.jsx";
---

<Layout title="Welcome to ">
  <Nav fullscreen={true} isHeader={true} height="[400px]" dark={true}>
    <VRHeader tourLink="/header/sub/index.html" />
    <h1 class="title absolute text-white font-bold text-5xl pt-12">Services</h1>
  </Nav>

  <main class="grow bg-purple/10">
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
      <h2 class="font-bold text-4xl md:text-5xl text-center mx-auto">
        Production Services
      </h2>
      <div
        class="flex flex-col md:flex-row md:flex-wrap gap-5 justify-center pt-10"
      >
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" class="" src="/images/services/ps1.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            360 Photography
          </h3>
        </div>

        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/ps2.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">Drone Footage</h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img class="h-full w-full  object-cover" src="/images/services/ps3.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Hotel Brand Photography
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/ps4.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Video Clipettes
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover object-center" src="/images/services/ps5.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Panos & Planets
          </h3>
        </div>
      </div>
    </div>
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
      <h2 class="font-bold text-4xl md:text-5xl text-center mx-auto">
        Marketing Installations
      </h2>
      <div class="md:flex flex-wrap gap-5 justify-center pt-10">
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi1.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Website Integration
          </h3>
        </div>

        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi2.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Google Integration
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi3.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Booking.com 360 Upload
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi4.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Facebook 360 Posts
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi5.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            QR360 Codes for Print
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/mi6.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            360 Tour Hosting Service
          </h3>
        </div>
      </div>
    </div>
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
      <h2 class="font-bold text-4xl md:text-5xl text-center mx-auto">
        Sales Team Support
      </h2>
      <div class="md:flex flex-wrap gap-5 justify-center pt-10">
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/st1.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">

            Presentation Interface
          </h3>
        </div>

        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/st2.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Offline Mobile APP
          </h3>
        </div>
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          <img  class="h-full w-full  object-cover" src="/images/services/st3.jpg" />
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">
            Direct 360 URLs
          </h3>
        </div>
      </div>
    </div>
    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
      <h2 class="font-bold text-4xl md:text-5xl text-center mx-auto">
        Featured Projects
      </h2>
      <div class="md:flex flex-wrap gap-5 justify-center pt-10">
        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">Birdeye Golf</h3>
        </div>

        <div>
          <div
            class="w-full md:w-96 aspect-[3/2] rounded-md bg-purple animated overflow-hidden"
          >
          </div>
          <h3 class="font-semibold text-center pt-2 text-lg">Drone Footage</h3>
        </div>
      </div>
    </div>
  </main>

  <Footer />
</Layout>
