<div class="bg-purple text-white font-inter">
	<div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
		<div
			class="flex flex-col md:flex-row items-center mb-10 md:mb-20 gap-10"
		>
			<h2 class="font-bold text-4xl md:text-5xl text-center md:text-left">
				Featured Projects
			</h2>
			<p class="max-w-[42ch]">
				eyeNAV 360 increases conversion with a style of 360° photography
				your customers will get excited about. Seeing inside a hotel or
				venue builds confidence for making booking decisions.
			</p>
			<div class="grow hidden md:flex justify-end">
				<a
					href="/projects"
					class="bg-orange text-white font-inter px-5 py-5 rounded-md"
				>
					See More Projects
				</a>
			</div>
		</div>
		<div class="grid md:grid-rows-2 grid-cols-1 md:grid-cols-3 gap-7">
			<div
				class="grid bg-gray-100/50 rounded md:row-span-2 aspect-video md:aspect-[2/3] bg-cover bg-center ..."
				style={{
					backgroundImage: `url("/images/InterContinental-Beppu-Japan.jpg")`,
				}}
			>
				{" "}
				<div
					class="col-span-full row-span-full flex justify-start items-end p-3"
				>
					<a
						href="https://samujana.com/villas/villa-12/"
						target="_blank"
					>
						<div class="flex items-center gap-5">
							<div class="bg-purple p-3 rounded-full">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width={1.5}
									stroke="currentColor"
									class="w-5 h-5"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
									></path>
								</svg>
							</div>
							<h6 class="font-inter drop-shadow-lg">
								InterContinental Beppu Japan
							</h6>
						</div>
					</a>
				</div>

				<div class="col-span-full row-span-full">
					<a
						class="w-full h-full block"
						href="https://www.eyenavasia.com/japan/ic_beppu/embed.htm"
						target="_blank"
					>
					</a>
				</div>
			</div>
			<div
				class="grid bg-gray-100/50 rounded bg-cover bg-center aspect-video md:aspect-auto"
				style={{
					backgroundImage: `url("/images/Ozone-Hotel-Kangaroo-Island.jpg")`,
				}}
			>
				<div
					class="col-span-full row-span-full flex justify-start items-end p-3"
				>
					<a
						href="https://ozonehotelki.com.au/360-aurora-ozone-hotel-tour/"
						target="_blank"
					>
						<div class="flex items-center gap-5">
							<div class="bg-purple p-3 rounded-full">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width={1.5}
									stroke="currentColor"
									class="w-5 h-5"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
									></path>
								</svg>
							</div>
							<h6 class="font-inter drop-shadow-lg">
								Ozone Hotel Kangaroo Island
							</h6>
						</div>
					</a>
				</div>
				<div class="col-span-full row-span-full">
					<a
						class="w-full h-full block"
						href="https://eyenavaustralia.com/aurora_ozone/"
						target="_blank"
					>
					</a>
				</div>
			</div>
			<div
				class="grid bg-gray-100/50 rounded bg-cover bg-center aspect-video md:aspect-auto"
				style={{
					backgroundImage: `url("/images/Royal-Phuket-Marina.jpg")`,
				}}
			>
				<div
					class="col-span-full row-span-full flex justify-start items-end p-3"
				>
					<a
						href="https://www.royalphuketmarina.com/360-virtual-tour/"
						target="_blank"
					>
						<div class="flex items-center gap-5">
							<div class="bg-purple p-3 rounded-full">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width={1.5}
									stroke="currentColor"
									class="w-5 h-5"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
									></path>
								</svg>
							</div>
							<h6 class="font-inter drop-shadow-lg">
								Royal Phuket Marina
							</h6>
						</div>
					</a>
				</div>
				<div class="col-span-full row-span-full">
					<a
						class="w-full h-full block"
						href="https://eyenavphuket.com/royalphuketmarina/"
						target="_blank"
					>
					</a>
				</div>
			</div>
			<div
				class="grid bg-gray-100/50 rounded md:col-span-2 bg-cover bg-center aspect-video md:aspect-auto"
				style={{
					backgroundImage: `url("/images/Samujana-Villas.jpg")`,
				}}
			>
				<div
					class="col-span-full row-span-full flex justify-start items-end p-3"
				>
					<a
						href="https://eyenavthailand.com/samujana/villa12/"
						target="_blank"
					>
						<div class="flex items-center gap-5">
							<div class="bg-purple p-3 rounded-full">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width={1.5}
									stroke="currentColor"
									class="w-5 h-5"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
									></path>
								</svg>
							</div>
							<h6 class="font-inter drop-shadow-lg">
								Samujana Villas
							</h6>
						</div>
					</a>
				</div>
				<div class="col-span-full row-span-full">
					<a
						class="w-full h-full block"
						href="https://eyenavthailand.com/samujana/villa12/"
						target="_blank"
					>
					</a>
				</div>
			</div>
		</div>
		<div class="flex md:hidden justify-center mt-10">
			<a href="/projects" class="w-full inline-block">
				<button
					class="bg-orange text-white font-inter px-5 py-5 rounded-md w-full"
				>
					See More Projects
				</button>
			</a>
		</div>
		<div x-on:click="show=true">lightbox</div>
	</div>
</div>
