---
import { Image, Picture } from "@astrojs/image/components";
---

<div class="bg-violet-50/50">
  <div class="max-w-[1400px] mx-auto px-[5vw] font-text text-sm">
    <div class="pt-10 flex flex-wrap justify-between gap-10">
      <div class="w-full md:w-[40%] flex flex-col gap-5">
        <div>
          {" "}
          <div>
            <a href="/">
              <img class="w-[164px]" src="/images/eye-nav-logo.png" alt="" />
            </a>
          </div>
        </div>

        <div>
          <p class="text-gray-700 font-bold mb-2">Contact Details:</p>
          <p class="text-gray-700">Email: sales@eyenav.com</p>

          <script type="text/javascript">
            window.onload = function () {
              (function (d, script) {
                script = d.createElement("script");
                script.type = "text/javascript";
                script.async = true;
                script.src = "https://w.app/widget-v1/1U2vF6.js";
                d.getElementsByTagName("head")[0].appendChild(script);
              })(document);
            };
          </script>

          <p class="text-gray-700">
            WhatsApp Link:{" "}
            <a
              class="text-blue-500 font-semibold"
              href="https://w.app/eyeNAV360Birdeye"
            >
              +61 4489 375 782
            </a>
          </p>
          <p class="text-gray-700">LINE ID: eyenav360</p>
        </div>
        <div>
          <a href="https://w.app/eyeNAV360Birdeye">
            <img class="w-32" src="/images/TomJanzow.png" alt="" />
          </a>
        </div>
        <div class="font-inter text-purple font-semibold">
          <p>
            <a href="https://goo.gl/maps/cqt1ryPWGake5ini8" target="_blank">
              eyeNAV 360 Multimedia (Asia)
            </a>
          </p>
          <p class="mt-2">
            {" "}
            <a href="https://goo.gl/maps/DFtR5jhw4s8gjZS18" target="_blank">
              eyeNAV 360 Australia
            </a>
          </p>
        </div>
        <ul class="flex gap-5">
          <li class="border-2 rounded-full p-2 bg-gray-50 hover:invert">
            <img class="w-[15px]" src="/images/facebook.svg" alt="" />
          </li>
          <li class="border-2 rounded-full p-2 bg-gray-50 hover:invert">
            <img class="w-[15px]" src="/images/yt.svg" alt="" />
          </li>
          <li class="border-2 rounded-full p-2 bg-gray-50 hover:invert">
            <img class="w-[15px]" src="/images/instagram.svg" alt="" />
          </li>
        </ul>
      </div>
      <div
        class="w-full md:w-[50%] flex justify-end gap-5 md:gap-10 font-text font-semibold text-purple"
      >
        <div class="flex flex-col gap-7 font-semibold text-purple">
          <a href="/thai-promotion-page">
            <img src="/images/thailand.jpg" alt="" />
          </a>
          <p>Thai Promo Page</p>
        </div>
        <div class="flex flex-col gap-7">
          <a href="https://birdeye.golf/mt_osmond" target="_blank">
            {" "}
            <img src="/images/golf.jpg" alt="" />{" "}
          </a>
          <p>Proudly Affiliated with Birdeye Golf</p>
        </div>
      </div>
    </div>
    <div class="py-5 md:py-10"></div>
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-7 py-10 border-t border-t-gray/20"
    >
      <div class="text-gray-500">
        All rights reserved | eyeNAV 360 MULTIMEDIA | 2023
      </div>
      <ul class="flex justify-center gap-5 text-purple font-semibold">
        <li>Australian Business Number: 69965604985</li>
        <li>หมายเลขประจำตัวผู้เสียภาษีบริษัทในประเทศไทย : 3930100135273</li>
      </ul>
    </div>
  </div>
</div>
