<div class="font-inter bg-purple/10">

    <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
        <div class="flex gap-5 flex-col items-center ">
            <h1 class="font-heading font-black text-5xl text-center md:text-left">A 360° Full Service</h1>
            <p class="max-w-[62ch] font-text  text-lg tracking-wide pt-5  ">
                We produce a range of visual content including short video clips, drone footage  and hotel photopgraphy, while our main focus remains as Asia’s leading provider  of on-brand 360° Photography. 
            </p>
            <p class="max-w-[62ch] font-text  text-lg tracking-wide">
                Our passion and technical experience brings a Marketing Solution to our clients  which ensures maximum ROI.  
            </p>
            <button class="font-text  text-lg font-bold text-purple-600 mt-5 border p-5 rounded-md  ">
                Find Out More
            </button>
        </div>
    </div>
    
</div>
