---
export interface Props {
    fullscreen: boolean;
    isHeader: boolean;
    height: string;
}

const { fullscreen, isHeader, height } = Astro.props;
---

<div class={` relative w-screen ${fullscreen && isHeader ? height : "h-auto"}`}>
    <div
        class={`w-screen max-w-[1600px] px-[5vw] py-5 mx-auto ${
            fullscreen && isHeader ? "text-white" : "text-violet-950"
        }`}
    >
        <div class="w-full flex justify-between text-sm items-center">
            <img class="w-[164px]" src="/images/eye-nav-logo.png" alt="" />
            <ul class="hidden md:flex items-center gap-10">
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Our Concept</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Photography Style</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Format & Installation</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">For Sales Team</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Clients Projects</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Add-On Services</a>
                </li>
                <li class="user last:border p-3 last:border-1 rounded">
                    <a href="/">Request a Quote</a>
                </li>
            </ul>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-Width={1.5}
                stroke="currentColor"
                class="w-8 h-8 block md:hidden"
            >
                <path
                    stroke-Linecap="round"
                    stroke-Linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
        </div>
    </div>
    {
        isHeader && (
            <div
                class={` w-screen overflow-hidden flex justify-center items-center ${
                    fullscreen && isHeader
                        ? ` absolute top-0 -z-10 ${height}`
                        : "h-[600px]"
                }`}
            >
                <slot />
            </div>
        )
    }
</div>
