<div class="bg-purple/10 py-20">
    <div
        class="max-w-[1400px] mx-auto px-[5vw] font-inter flex flex-col md:flex-row gap-10 md:gap-20 items-center justify-center"
    >
        <div class="md:min-w-[400px] md:order-2">
            {" "}
            <h2
                class="font-heading text-gray-800 text-5xl font-extrabold mb-10 text-center md:text-left"
            >
                Offline APP Access
            </h2>
            <p
                class="font-text text-lg text-gray-800 md:max-w-[36ch] leading-relaxed text-center md:text-left"
            >
                This App provides our premier hotel clients further exposure on
                the APP Stores and it is primary function provides the ability
                to seamlessly download & present eyeNAV 360° hotel & venue
                presentations on any iOS or Android device.
            </p>
            <p
                class="font-text text-lg text-gray-800 md:max-w-[36ch] leading-relaxed text-center md:text-left mt-5"
            >
                Our Clients are provided a Tour ID code which enables
                downloading their hotel 360° Presentation independentaly from
                the hotel portfolio. The download function has proven very
                poular for in-person sales presentation purposes.
            </p>
            <div class="flex justify-center md:justify-start">
                <div
                    class="px-8 py-3 text-gray-800 mt-10 font-bold border border-gray-800 rounded"
                >
                    Read More
                </div>
            </div>
        </div>

        <div class="max-w-[350px]">
            <img class ="animated" src="/images/google/mobile.png" alt="" />
        </div>
    </div>
</div>
