<div class="bg-purple/10" id="main">
  <div class="max-w-[1400px] px-[5vw] mx-auto pt-20 pb-20">
    <div class="flex gap-5 flex-col items-center">
      <h1 class="font-heading font-black text-5xl text-center md:text-left">
        Welcome to eyeNAV
      </h1>
      <p class="max-w-[62ch] font-text text-lg tracking-wide pt-5">
        eyeNAV 360 enhances conversion rates through a distinctive approach to
        360° photography that captivates your customers.
      </p>
      <p class="max-w-[62ch] font-text text-lg tracking-wide">
        The immersive experience of exploring the interiors of a hotel or venue
        instils confidence, making the decision-making process for bookings more
        exciting and reassuring.
      </p>
      <a href="#why">
        <button
          class="font-text text-lg font-bold text-purple-600 mt-5 border p-5 rounded-md border-gray-600"
        >
          Why Choose eyeNav 360
        </button>
      </a>
    </div>
  </div>
</div>
