<div class="bg-purple py-20">
  <div
    class="max-w-[1400px] mx-auto px-[5vw] flex flex-col md:flex-row gap-10 items-center"
  >
    <div class="px-5 animated font-text">
      <img class="animated" src="/images/laptop-screen.png" alt="" />
    </div>
    <div>
      <h2
        class="text-white font-text font-bold text-5xl mb-10 text-center md:text-left"
      >
        Website Integration
      </h2>
      <p
        class="font-text text-lg text-white md:max-w-[30ch] leading-relaxed text-center md:text-left"
      >
        Sometimes it is the simple things that make a difference. Our service
        includes technical support and follow through with agencies / web
        developers and clients to ensure our 360° visual content is installed on
        websites to maximise its effectiveness.{" "}
      </p>
      <div class="flex justify-center md:justify-start">
        <div
          class="px-8 py-3 text-white mt-10 font-text font-bold border border-white rounded"
        >
          Read More
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-purple/25 py-20">
  <div
    class="max-w-[1400px] mx-auto px-[5vw] font-text flex flex-col md:flex-row gap-10 items-center"
  >
    <div class="md:min-w-[400px]">
      {" "}
      <h2
        class="text-heading text-black text-5xl font-bold mb-10 text-center md:text-left"
      >
        Google Integration
      </h2>
      <p
        class="font-text text-xl text-gray-800 md:max-w-[36ch] leading-relaxed text-center md:text-left font-bold mb-5"
      >
        Enhance your Business online profile with our Google 360 Installation
        service.
      </p>
      <p
        class="font-text text-gray-800 text-lg md:max-w-[36ch] leading-relaxed text-center md:text-left"
      >
        Placing high-quality and linked 360° photos on your Google My Business
        Listing (GMB) means they are also visible on Google Maps and Search.
        Some of the 360 photos we have published for our client listings have
        reached over 300,000 views!
      </p>
      <div class="flex justify-center md:justify-start">
        <div
          class="px-8 py-3 font-text text-gray-800 mt-10 font-bold border border-gray-800 rounded"
        >
          Read More
        </div>
      </div>
    </div>
    <div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-5">
        <a
          href="https://www.google.com/maps/@-35.4616745,138.3150137,3a,82.2y,104.61h,82.19t/data=!3m7!1e1!3m5!1sAF1QipNfzJHwZZH5pWcpGI6mezqeY60bt5VHQNaWcZcN!2e10!3e12!7i12000!8i6000?entry=ttu"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/01LadyBay360Maps.jpg"
            alt=""
          />
        </a>
        <a
          href="https://www.google.com/maps/@-34.9869236,138.7101884,0a,82.2y,107.49h,91.38t/data=!3m4!1e1!3m2!1sAF1QipP6wt_gwzAZIR1bt08wbgkJF1ciUz7s2BtyLCtA!2e10?source=apiv3"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/02Sequoia_360Maps.jpg"
            alt=""
          />
        </a>
        <a
          href="https://www.google.com/maps/@-35.6557722,137.6401554,0a,82.2y,95.73h,87.42t/data=!3m4!1e1!3m2!1sAF1QipODPvn0XhvaLCCDyZ4RG7U6HYQ7wHZHLI9bxdhj!2e10?source=apiv3"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/03AuroraOzone_360Maps.jpg"
            alt=""
          />
        </a>
        <a
          href="https://www.google.com/maps/@-16.7451249,145.6704427,0a,93.4y,18.27h,83.4t/data=!3m4!1e1!3m2!1sAF1QipMFNzh43bflOD0soHOZEGtlzP4gsg3VMgKc-zjl!2e10?source=apiv3"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/04ReefHouse_360Maps.jpg"
            alt=""
          />
        </a>
        <a
          href="https://www.google.com/maps/@33.3181222,131.4605221,0a,81.6y,120.25h,85.6t/data=!3m4!1e1!3m2!1sAF1QipPeYIITRsBfkFIx8n2q_U0qkYYm9MDT6Op9i_96!2e10?source=apiv3"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/05ICBepppu_360maps.jpg"
            alt=""
          />
        </a>
        <a
          href="https://www.google.com/maps/@7.8650081,98.2828326,0a,82.2y,139.66h,88.26t/data=!3m4!1e1!3m2!1sAF1QipOfzzb6J1I7g3EaYf-mbAgjoRepGY0uZHxgyYp6!2e10?source=apiv3"
          target="_blank"
        >
          <img
            class="animated"
            src="/images/google/06LeMeridien_360Maps.jpg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
